
:host {
  display: block;
}
.split .panel--form {
  max-width: 470px;
  justify-self: end;
}
@media (max-width: 1320px) {
  .split .panel--form {
    max-width: none;
    justify-self: stretch;
  }
}


/* HOTFIX V11 - columnas más compactas */
.materiales-table table {
  min-width: max(100%, 860px) !important;
}
.materiales-table th,
.materiales-table td {
  padding: 9px 10px !important;
  font-size: .86rem !important;
}
.materiales-table th:nth-child(2),
.materiales-table td:nth-child(2) { width: 110px; }
.materiales-table th:nth-child(4),
.materiales-table td:nth-child(4) { width: 110px; }
.materiales-table th:nth-child(5),
.materiales-table td:nth-child(5) { width: 120px; text-align: right; }
